html, body, main {
  overflow: hidden;
}

#app {
  height: 97vh;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#main_view {
  display: flex;
  border: 1px solid red;
  flex-grow: 1;
}

#top_bar {
  border: 1px solid blue;
}

#side_bar {
  min-width: 25%;
  border: 1px solid yellow;
  padding: 5px;
}

#content_header {
  border: 1px solid purple;
  button {
    margin: auto 5px;
  }
}

#content_view {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  flex-grow: 1;
  padding:10px;
}

#request_view {
  display: flex;
  flex-direction: column;
}

#request_bar {
  flex-grow: 1;
  display: flex;
  padding: 5px 10px;
  select {
    min-width: 7rem;
    margin-right: 10px;
  }
  input {
    flex-grow: 1;
  }
}

#body_view {
  flex-grow: 1;
  select {
    min-width: 100px;
  }
  textarea {
    min-width: 75%;
  }
}
